.spree_reports.report {
  
  text-align: center;
  padding-bottom: 30px;
  
  h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
  }
  
  h2 {
    margin-top: 50px;
  }
  
  form.options {
    margin-bottom: 25px;
    
    .option {
      margin-right: 12px;
    }
    
    select {
      max-width: 150px;
    }
    
    input[type=submit] {
      padding: 1px 6px 1px 6px;
      font-size: 12px;
      border-radius: 5px;
    }
  }
    
  table.data {
    margin-top:30px;
    
    th.help {
      cursor:help;
    }
  }
  
  div.permalink {
    h2 {
      font-weight:bold;
      margin-bottom:15px;
    }
    
    #spree_reports_permalink {
      font-size:13px;
      font-weight:bold;
      width:700px;
      text-align:center;
    }
    
    a {
      display: block;
      margin-top: 12px;
    }
  }
  
}